
    @section head{
        <link rel="stylesheet" href=@Url.Scrpit("/Css/finance.css")>
    }

<div class="coupon-item">
    <ul class="coupon-list" id="couponList">
        @*<li>
            <div class="youhuiLeft">
                <em class="youhuiMoney">￥<b>100</b></em>
                <div class="youhuiLeftItem">
                    <em>免费的看法看</em>
                    <span>满2000元可用</span>
                </div>

            </div>
            <div class="youhuiRight">
                <button>立即使用</button>
            </div>
        </li>*@
    </ul>
    <!-- 优惠卷为空 -->
    <div class="couponNull" id="couponNull">
        <img src="/Content/dxpImages/order/img_null_oder.png" />
        <span>您还没有优惠哦！</span>
    </div>
</div>




<script type="text/javascript">
    Common.headerTitle('优惠卷');
	
	$.ajax({
	    url: Common.API_BASE_URL + Common.API_URL_GET_CUSTOMER_COUPON,
        dataType: "json",
        contentType: "text/json",
        type: "POST",
        headers: {
            'Authorization': 'Bearer ' + tokenObj,
        },
        success: function (res) {
            if (res.status == '1') {
                var $data = res.data;
                var $html = '';
                if ($data.length > 0) {
                    $.each($data, function (i, item) {
                        $html += '<li id=' + item.Id + '><div class="youhuiLeft"><em class="youhuiMoney">￥<b>' + item.Dicount + '</b></em><div class="youhuiLeftItem"><em>' + item.Description + '</em>';
                        $html += '<span>' + item.Condition + '</span></div></div><div class="youhuiRight"><button></button></div></li>';
                    })
                    $('#couponList').html($html);
                } else {
                    $('#couponNull').show();
                }
                
            } else {
                $.toast(res.message, "forbidden");
            }
        },
        error: function(err){
            $.toast(err.message, "forbidden");
        }
    })
	
	
</script>