
    @section head{
        <link rel="stylesheet" href=@Url.Scrpit("/Css/shopping-payment-success.css")>
    }
<header class="shopping-title">
    <span>支付状态</span>
</header>
<!--支付成功-->
<section class="pay-sucessc-box">
    <div class="pay-show-success">
        <p>充值成功</p>
    </div>

    <p class="pay-success-prices">￥124.00</p>
    <p class="pay-success-order-number same-font recharge-success">会员到期时间：<em>2017-10-01</em>
    </p>
    <p class="recharge-tips">恭喜您获得一张会员礼品券，请领取您的礼物。</p>

    <div class="discount-coupon-box">
        <div class="discount-coupon-show">
            <!--<h3>礼包兑换券</h3>
            <p>兑换机会1次</p>
            <p>有效期 2017.01.30</p>-->
        </div>
        <div class="discount-coupon-get"></div>
    </div>
</section>