@section head{
    <link rel="stylesheet" href=@Url.Scrpit("/Scripts/plug/layui/layer_mobile/layer.css")>
    <link rel="stylesheet" href=@Url.Scrpit("/Css/swiper-3.4.2.min.css")>
    <link rel="stylesheet" href=@Url.Scrpit("/Css/LogisticsInfo.css")>
}


<section class="LogisticsItem">
    <div class="Logis-content">
        <!-- 其他 -->
        <div class="Logis-item">
            <ul class="Logis-text">
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
            </ul>
        </div>
    </div>




</section>

<script type="text/javascript" src=@Url.Scrpit("/Scripts/plug/swiper-3.4.2.jquery.min.js")></script>
<script type="text/javascript" src=@Url.Scrpit("/Scripts/plug/layui/layer_mobile/layer.js")></script>
<script type="text/javascript" src=@Url.Scrpit("/Scripts/page-used-js/LogisticsInfo.js")></script>




