@section head{
    <link rel="stylesheet" href=@Url.Scrpit("/Scripts/plug/layui/layer_mobile/layer.css")>
    <link rel="stylesheet" href=@Url.Scrpit("/Css/swiper-3.4.2.min.css")>
    <link rel="stylesheet" href=@Url.Scrpit("/Css/LogisticsInfo.css")>
}


<section class="LogisticsItem">
    <nav class="Logis-nav">
        <ul id="LogisNav">
            <li class="cur">包裹1</li>
            <li>包裹2</li>
            <li>其他</li>
        </ul>
    </nav>

    <div class="Logis-content">
        <!-- 包裹二 -->
        <div class="Logis-item">
            <p class="Logis-title">晟通快递:16556146 <span>已签收</span></p>
            <ul class="Logis-List">
                <li>
                    <img src="" />
                    <div class="Logis-List-txt">
                        <p class="name">商品名称</p>
                        <span class="label">蓝色:  M</span>
                        <p class="price">
                            ￥<strong>119.00</strong>
                            <b class="num">x3</b>
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="Logis-text">
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
            </ul>
        </div>

        <!-- 包裹二 -->
        <div class="Logis-item">
            <p class="Logis-title">包裹而:16556146 <span>已签收</span></p>
            <ul class="Logis-List">
                <li>
                    <img src="" />
                    <div class="Logis-List-txt">
                        <p class="name">商品名称</p>
                        <span class="label">蓝色:  M</span>
                        <p class="price">
                            ￥<strong>119.00</strong>
                            <b class="num">x3</b>
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="Logis-text">
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
            </ul>
        </div>

        <!-- 其他 -->
        <div class="Logis-item">
            <p class="Logis-title">其他快递:16556146 <span>已签收</span></p>
            <ul class="Logis-List">
                <li>
                    <img src="" />
                    <div class="Logis-List-txt">
                        <p class="name">商品名称</p>
                        <span class="label">蓝色:  M</span>
                        <p class="price">
                            ￥<strong>119.00</strong>
                            <b class="num">x3</b>
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="Logis-text">
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
                <li>
                    <p class="text">快件已到达(空间的那你)</p>
                    <span class="time">2017-09-21 16:45:45</span>
                </li>
            </ul>
        </div>




    </div>




</section>

<script type="text/javascript" src=@Url.Scrpit("/Scripts/plug/swiper-3.4.2.jquery.min.js")></script>
<script type="text/javascript" src=@Url.Scrpit("/Scripts/plug/layui/layer_mobile/layer.js")></script>
<script type="text/javascript" src=@Url.Scrpit("/Scripts/page-used-js/LogisticsInfo.js")></script>




