@section head{
    <link rel="stylesheet" href=@Url.Scrpit("/Css/obligation-order-form.css")>
}

@*<header class="shopping-title white-background">
    <div class="shop-relative">
        <a href="#" class="go-back-pre"></a>
        <span>待付款订单</span>
    </div>
</header>*@

<div class="obligShow" id="obligShow" style="display:none">
    <span>
        <img src="/Content/dxpImages/order/img_null_oder.png" />
    </span>
    <p>目前还没有订单哦</p>

</div>

<section class="obligation" id="obligList">
    @*<div class="obligList">
        <h3 class="other-package-info">
            <span class="package-store-name">当下品总店</span>
            <span class="package-state">已签收</span>
        </h3>
        <ul class="package-one white-background">
            <li>
                <div class="goods-list-show-wrap">
                    <a class="left-img-show">
                        <img src="/Content/dxpImages/index/product.png"  alt="" class="img-responsive">
                    </a>
                    <div class="right-goods-details">
                        <p class="details-name">CK制造商 休闲抱枕 蓝灰色...</p>
                        <p class="details-choice">蓝色 M</p>
                        <span class="prices-show">￥250.00</span>
                        <span class="details-num">X 3</span>
                    </div>
                </div>
            </li>
        </ul>
        <p>
            <span class="package-store-name">共 <em>1</em>件商品</span>
            <span class="package-state actual-payment">实付款 <em>￥119.00</em></span>
        </p>
        <div class="other-package-info package-operate">
            <a href="#">立即付款</a>
            <a href="#">取消订单</a>
        </div>
    </div>*@
</section>

<script type="text/javascript" src=@Url.Scrpit("/Scripts/page-used-js/OrderPayment.js")></script>




