
@section head{
    <link rel="stylesheet" href=@Url.Scrpit("/Css/order-details.css")>
}
<header class="shopping-title white-background">
    <div class="shop-relative">
        <a href="#" class="go-back-pre"></a>
        <span>订单详情</span>
    </div>
</header>

<section class="obligation">
<p class="last-remind"><span class="remind-icon"></span>抢到后就在<em>5</em>分钟内下单支付，否则名额将被收回。
</p>

<!--包裹1-->
<div class="package-head-info">
    <span class="package-name">包裹1</span>
    <span>申通快递：1234668788888</span>
    <span class="package-state">已收货</span>
</div>
<!--包裹位置-->
<div class="package-location">
    <span class="location-icon"></span>
    <div class="show-address">
        <span>快件已到达（成都黄田坝附近），到站扫描,快递员胡洁为您派件，电话18781998973</span>
        <p>2017-10-01 08：45：02</p>
    </div>
    <a href="#" class="go-back-pre"></a>
</div>
<ul class="package-one">
    <li>
        <div class="goods-list-show-wrap">
            <a class="left-img-show">
                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
            </a>
            <div class="right-goods-details">
                <p class="details-name">CK制造商 休闲抱枕 蓝灰色...</p>
                <p class="details-choice">蓝色 M</p>
                <span class="prices-show">￥250.00</span>
                <span class="details-num">X 3</span>
            </div>
        </div>
    </li>
    <li>
        <div class="goods-list-show-wrap">
            <a class="left-img-show">
                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
            </a>
            <div class="right-goods-details">
                <p class="details-name">CK制造商 休闲抱枕 蓝灰色...</p>
                <p class="details-choice">蓝色 M</p>
                <span class="prices-show">￥250.00</span>
                <span class="details-num">X 3</span>
            </div>
        </div>
    </li>
</ul>
<!--分割块-->
<div class="space-line"></div>

<!--包裹2-->
<div class="package-head-info">
    <span class="package-name">包裹1</span>
    <span>申通快递：1234668788888</span>
    <span class="package-state">已收货</span>
</div>
<!--包裹位置-->
<div class="package-location">
    <span class="location-icon"></span>
    <div class="show-address">
        <span>快件已到达（成都黄田坝附近），到站扫描,快递员胡洁为您派件，电话18781998973</span>
        <p>2017-10-01 08：45：02</p>
    </div>
    <a href="#" class="go-back-pre"></a>
</div>
<ul class="package-one">
    <li>
        <div class="goods-list-show-wrap">
            <a class="left-img-show">
                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
            </a>
            <div class="right-goods-details">
                <p class="details-name">CK制造商 休闲抱枕 蓝灰色...</p>
                <p class="details-choice">蓝色 M</p>
                <span class="prices-show">￥250.00</span>
                <span class="details-num">X 3</span>
            </div>
        </div>
    </li>
</ul>
<!--分割块-->
<div class="space-line"></div>

<!--receiver收货人信息-->
<section class="receiver-info white-background">
    <h2 class="info-name-phone">
        <span>收货人：<em>胡善良</em></span>
        <span>18781998965</span>
    </h2>
    <p class="info-address">收获地址：<em>四川省成都市青羊区苏坡街道222号苏坡街道222号222号</em>
    </p>
</section>

<!--分割块-->
<div class="space-line"></div>
<!--商品价格详情-->
<section class="goods-prices-details">
    <ul>
        <li>
            <div>
                <span class="goods-total">商品总额</span>
                <span class="goods-total-prices">￥119.00</span>
            </div>
            <div>
                <span class="goods-coupon">优惠券</span>
                <span class="goods-coupon-price">-￥19.00</span>
            </div>
        </li>
        <li>
            <p>实付款：<em>￥110.00</em>
            </p>
        </li>
    </ul>
</section>
<!--分割块-->
<div class="space-line"></div>

<!--其他详情-->
<section class="other-details">
    <ul>
        <li><span>订单编号：<em>12345678998555</em></span></li>
        <li><span>支付方式：<em>微信支付</em></span></li>
        <li><span>付款时间：<em>2017-09-01 12：25：20</em></span></li>
        <li><span>发货时间：<em>2017-09-01 16：25：20</em></span></li>
    </ul>
</section>
<!--分割块-->
<div class="space-line"></div>
<div class="space-line"></div>

<div class="package-operate">
    <a href="#">确认收货</a>
    <a href="#">查看物流</a>
</div>
</section>


