@section head{
        <link rel="stylesheet" href=@Url.Scrpit("/Css/shoppingcar.css")>
    }
<header class="shopping-title">
    <span>购物车</span>
    <a href="javascript:void (0)" class="edit-order" data-in="edit" onclick="editOrder(this)">
        编辑
    </a>
</header>

<div id="itemss">

    <!--商品列表详情-->
    <div class="goods-list-wrap" id="goods-list-wrap">
        <!--购物车为空-->
        <section class="shopping-car-null-show">
            <div class="shopping-car-wrap">
                <span>
                    <img src="/Content/dxpImages/img_shop_nopro@3x.png" alt="" class="img-responsive">
                </span>
                <div class="shopping-null">
                    <p>购物车还没有商品哦</p>
                    <a href="/Home/Index">去逛逛</a>
                </div>

            </div>
        </section>

        <div class="goods-list-max-wrap" id="shopItem">
            @*<div class="goods-lis-item" v-for="(item,io) in items">
                <div class="shop_list_header">
                    <input type="checkbox" class="check-box title-box" v-on:click="chooseShopGoods(io)"  v-bind:class="{'checked': item.checked}">
                    <em>{{item.storeName}}</em>
                </div>
                <ul class="shop_list_content">
                    <li v-for="(list,index) in item.goods">
                        <input type="checkbox" :value="index" class="check-box content-box" v-on:click="check(io,index)"v-bind:class="{'checked':list.checked}">
                        <div class="shop_content_img">
                            <a href="'/Goods/GoodsDetails?goodsId=' +list.ShoppingCartId">
                                <img :src="list.imageUrl">
                            </a>
                            <p class="shop_content_num" v-if="list.quantity>list.stock"><span>库存不足</span></p>
                        </div>
                        <div class="shop_content_textItem">
                            <em class="shop_conten_name">{{list.name}}</em>
                            <p class="shop_conten_tip">
                                <span>{{list.attributeValues}}</span>
                                <span class="tip_num" v-if="list.stock<10">库存仅剩{{list.stock}}件</span>
                                <span class="tip_num_more" v-else="list.stock>10">库存{{list.stock}}件</span>
                            </p>
                            <div class="shop_conten_price">
                                <strong>￥<b>{{list.price}}</b></strong>
                                <div class="shop_price_item">
                                    <input type="button" class="reduceBtn" v-on:click="numChange(io,index,-1)" v-bind:class="{ 'disable' : list.quantity<=1 }" value="-"></input>
                                    <input type="text" readonly="readonly" class="numValue" :value="list.quantity"></input>
                                    <input type="button" class="addBtn" v-on:click="numChange(io,index,1)" v-bind:class="{ 'disable' : list.quantity>=list.stock }" value="+"></input>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>*@
        </div>



        @*<div style="display:none">
            <script type="text/x-dot-template" id="goods-list-wrap">
                {{~it:item:index}}
                <section class="goods-list-max-wrap">
                    <section class="goods-list-company">
                        <input type="checkbox" class="check-box title-box">
                        <h2>{{= item.storeName}}</h2>
                    </section>
                    <div class="shop-goods-list-shop">
                        <ul class="his-parents">
                            {{~it[index].goods:goodlist:j}}
                            <li class="goods-list-show">
                                <div class="goods-list-show-wrap">
                                    <input type="checkbox" name="checkbox" value="{{= goodlist.ShoppingCartId}}" class="check-box content-box">
                                    <a class="left-img-show">
                                        <img src="{{= goodlist.imageUrl}}" alt="" class="img-responsive">
                                    </a>
                                    <!--已售罄遮罩-->

                                    <div class="right-goods-details">
                                        <p class="details-name">{{= goodlist.name}}</p>
                                        <p class="details-choice">{{= goodlist.attributeValues}}</p>
                                        <span class="details-price">￥<b>{{= goodlist.price}}</b></span>
                                    </div>
                                    <div class="add-reduce-btn">
                                        <span class="reduceBtn" onclick="updateShoppingCart(this)" data-on="reduce">－</span>
                                        <span class="numValue" id="getGoodsNum">{{= goodlist.quantity}}</span>
                                        <span class="addBtn" onclick="updateShoppingCart(this)" data-on="add">＋</span>
                                    </div>
                                </div>
                            </li>
                            {{~}}
                        </ul>
                    </div>
                    <!--分割块-->
                    <div class="space-line"></div>
                </section>
                {{~}}
            </script>
        </div>*@
    
    
    </div>


    <div class="hr10"></div>

    <!--看了该商品的用户还买了-->
    <div class="home-item">
        <h3 class="home-title">
            看了该商品的用户还买了
        </h3>
    </div>
    <section class="goods-list">
        <ul class="goods-list-description">
            <li>
                <a href="#">
                    <div class="goods-img-show">
                        <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                    </div>
                    <div class="goods-text-show">
                        <div class="add-discount">限时折扣</div>
                        <p>CK制造商 休闲抱枕 纯...</p>
                        <span class="normal-price">￥20.00</span>
                        <span class="discount-price">￥200.00</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="goods-img-show">
                        <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                    </div>
                    <div class="goods-text-show">
                        <p>CK制造商 休闲抱枕 纯...</p>
                        <span class="normal-price">￥20.00</span>
                    </div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div class="goods-img-show">
                        <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                    </div>
                    <div class="goods-text-show">
                        <p>CK制造商 休闲抱枕 纯...</p>
                        <span class="normal-price">￥20.00</span>
                    </div>
                </a>
            </li>
        </ul>
    </section>

    <!--结算按钮-->
    <section class="accounts-foot-wrap" id="accountGoodsBtn">
        <div class="accounts-foot">
            <input type="checkbox" class="check-box m-checkbox" id="allCheckCho" onclick="allCheck(this)">
            <span class="has-select">全选 :(<em class="goodsNum" id="checkNum">0</em>)</span>
            <span class="accounts-total">总计：<em>￥0.00</em></span>
            <a href="javascript:;" class="accounts-result-tips accounts-result-disabled" data-on="cancel" onclick="submitOrder(this)" id="confirmBtn">去结算</a>
        </div>
    </section>

    <!--删除按钮-->
    <section class="accounts-foot-wrap" id="deleteGoodsBtn">
        <div class="accounts-foot">
            <input type="checkbox" class="check-box allCheck" id="allCheckDel" onclick="allCheck(this)">
            <span class="has-select">已选:(<em class="goodsNum" id="delNum">0</em>)</span>
            <a onclick="deleteShoppingGoods(this)" class="accounts-result-tips accounts-result-disabled" id="deleteBtn" data-on="cancel">删除所选</a>
            <!--<em id="goodsNum" class="goodsNum"> (0) </em>-->
        </div>
    </section>


</div>

<!--底部导航-->
<nav class="bottom-navbar">
    <ul>
        <li>
            <a href="/Home/Index">
                <span class="index-icon"></span>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="/Goods/Category">
                <span class="category-icon"></span>
                <p>分类</p>
            </a>
        </li>
        <li>
            <a href="/Goods/Activity">
                <span class="activity-icon"></span>
                <p>活动</p>
            </a>
        </li>
        <li class="active">
            <a href="/Shopping/ShoppingCar">
                <span class="shopping-icon"></span>
                <p>购物车</p>
            </a>
        </li>
        <li>
            <a href="/Personal/Personal">
                <span class="personal-icon"></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</nav>

<script type="text/javascript" src=@Url.Scrpit("/Scripts/page-used-js/shoppingCarst.js")></script>

<script type="text/javascript">

    //提交订单
    function submitOrder(t) {
        var $attr = $(t).attr('data-on');
        var param = {
            "ShoppingCartIdList": shopListId
        };
        if ($attr == 'confirm') {
            $.ajax({
                url: Common.API_BASE_URL + Common.API_URL_POST_ADD_PREVIEW_ORDER,
                dataType: "json",
                contentType: "text/json",
                type: "POST",
                data: JSON.stringify(param),
                headers: {
                    'Authorization': 'Bearer ' + tokenObj,
                },
                success: function (req) {
                    if (req.status === 1) {
                        //清除商品数组
                        shopListId.splice(0, shopListId.length);
                    }
                },
                error: function () {
                    console.log("更新失败");
                }
            })
        }
    }
    
</script>