
@section head{
<link rel="stylesheet" href=@Url.Scrpit("/Css/swiper-3.4.2.min.css")>
<link rel="stylesheet" href=@Url.Scrpit("/Css/dxpActivity.css")>
}
<!--选项卡切换-->
<div class="swiper-container space-between-bottom">
    <ul class="swiper-pagination add-pagination"></ul>
    <style>.swiper-pagination-bullet{width: 25% !important;height: 100% !important;}</style>
    <div class="swiper-wrapper tabs-contents" id="tabs-contents">
        <div class="swiper-slide swiper-shoot scroll-top">
            <!--秒秒购-->
            <div class="shop-goods-list">
                <ul>
                    <li>
                        <section>
                            <div class="left-img-show">
                                <a href="/Goods/GoodsSeckill">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </a>
                            </div>
                            <!--抢光了蒙版显示-->
                            <div class="none-masking">
                                <h3>抢光了</h3>
                            </div>
                            <div class="right-goods-details">
                                <p>商品名称</p>
                                <div class="right-goods-text">商品描述商品描述商品描述</div>
                                <div class="right-goods-div">
                                    <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
                                </div>
                                <div class="add-reduce-btn">
                                    <p>已结束</p>
                                    <a href="javascript:void (0)" class="enter-buy">
                                        <span>进入抢购</span>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <section>
                            <div class="left-img-show">
                                <a href="/Goods/GoodsSeckill">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="right-goods-details">
                                <p>商品名称</p>
                                <div class="right-goods-text">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</div>
                                <div class="right-goods-div">
                                    <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
                                </div>    
                                    <div class="add-reduce-btn">
                                        <p>已结束</p>
                                        <a href="/Goods/GoodsSeckill" class="enter-buy">
                                            <span>进入抢购</span>
                                        </a>
                                    </div>
                                </div>
                        </section>
                    </li>
                    <li>
                        <section>
                            <div class="left-img-show">
                                <a href="/Goods/GoodsSeckill">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="right-goods-details">
                                <p>商品名称</p>
                                <div class="right-goods-text">商品描述商品描述商品描述</div>
                                <div class="right-goods-div">
                                    <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
                                </div>
                                <div class="add-reduce-btn">
                                    <p>已结束</p>
                                    <a href="/Goods/GoodsSeckill" class="enter-buy">
                                        <span>进入抢购</span>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </li><li>
    <section>
        <div class="left-img-show">
            <a href="/Goods/GoodsSeckill">
                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
            </a>
        </div>
        <div class="right-goods-details">
            <p>商品名称</p>
            <div class="right-goods-text">商品描述商品描述商品描述</div>
            <div class="right-goods-div">
                <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
            </div>
            <div class="add-reduce-btn">
                <p>已结束</p>
                <a href="/Goods/GoodsSeckill" class="enter-buy">
                    <span>进入抢购</span>
                </a>
            </div>
        </div>
    </section>
</li><li>
    <section>
        <div class="left-img-show">
            <a href="/Goods/GoodsSeckill">
                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
            </a>
        </div>
        <div class="right-goods-details">
            <p>商品名称</p>
            <div class="right-goods-text">商品描述商品描述商品描述</div>
            <div class="right-goods-div">
                <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
            </div>
            <div class="add-reduce-btn">
                <p>已结束</p>
                <a href="/Goods/GoodsSeckill" class="enter-buy">
                    <span>进入抢购</span>
                </a>
            </div>
        </div>
    </section>
</li><li>
    <section>
        <div class="left-img-show">
            <a href="/Goods/GoodsSeckill">
                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
            </a>
        </div>
        <div class="right-goods-details">
            <p>商品名称</p>
            <div class="right-goods-text">商品描述商品描述商品描述</div>
            <div class="right-goods-div">
                <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
            </div>
            <div class="add-reduce-btn">
                <p>已结束</p>
                <a href="/Goods/GoodsSeckill" class="enter-buy">
                    <span>进入抢购</span>
                </a>
            </div>
        </div>
    </section>
</li>
                    <li>
                        <section>
                            <div class="left-img-show">
                                <a href="#">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="right-goods-details">
                                <p>商品名称</p>
                                <p>商品描述商品描述商品描述</p>
                                <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
                                <div class="add-reduce-btn">
                                    <p>已结束</p>
                                    <a href="javascript:void (0)" class="enter-buy">
                                        <span>进入抢购</span>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li>
                        <section>
                            <div class="left-img-show">
                                <a href="#">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="right-goods-details">
                                <p>商品名称</p>
                                <p>商品描述商品描述商品描述</p>
                                <span class="red-prices">￥1.00</span><span class="line-through">￥300.00</span>
                                <div class="add-reduce-btn">
                                    <p>已结束</p>
                                    <a href="javascript:void (0)" class="enter-buy">
                                        <span>进入抢购</span>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-slide swiper-topic scroll-top">
            <!--时时购-->
            <ul>
                <li>
                    <a href="#">
                        <img src="/Content/dxpImages/category/img_theme1.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/dxpImages/category/img_theme1.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/dxpImages/category/img_theme1.png" alt="" class="img-responsive">
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-slide swiper-gifts scroll-top">
                <!--月月购-->
            <div class="yueItem">
                <div class="yueyue">
                    <a href="#">
                        <img src="/Content/dxpImages/category/img_act_banner1.png" alt="" class="img-responsive">
                    </a>
                </div>

                <section class="goods-list">
                    <ul class="goods-list-description">
                        <li>
                            <a href="/Goods/GoodsDetails">
                                <div class="goods-img-show">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </div>
                                <div class="goods-text-show">
                                    <div class="add-discount">限时折扣</div>
                                    <p>CK制造商 休闲抱枕 纯...</p>
                                    <span>￥20.00</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="goods-img-show">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </div>
                                <div class="goods-text-show">
                                    <p>CK制造商 休闲抱枕 纯...</p>
                                    <span>￥20.00</span>
                                </div>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="goods-img-show">
                                    <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                                </div>
                                <div class="goods-text-show">
                                    <p>CK制造商 休闲抱枕 纯...</p>
                                    <span>￥20.00</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="swiper-slide swiper-changes scroll-top">
            <!--月月购-->
            <div class="yueItem">
            <div class="yueyue">
                <a href="#">
                    <img src="/Content/dxpImages/category/img_act_banner1.png" alt="" class="img-responsive">
                </a>
            </div>

            <section class="goods-list">
                <ul class="goods-list-description">
                    <li>
                        <a href="#">
                            <div class="goods-img-show">
                                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                            </div>
                            <div class="goods-text-show">
                                <div class="add-discount">限时折扣</div>
                                <p>CK制造商 休闲抱枕 纯...</p>
                                <span>￥20.00</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="goods-img-show">
                                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                            </div>
                            <div class="goods-text-show">
                                <p>CK制造商 休闲抱枕 纯...</p>
                                <span>￥20.00</span>
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="goods-img-show">
                                <img src="/Content/dxpImages/index/product.png" alt="" class="img-responsive">
                            </div>
                            <div class="goods-text-show">
                                <p>CK制造商 休闲抱枕 纯...</p>
                                <span>￥20.00</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
            </div>
        </div>
    </div>
</div>

<!--底部导航-->
@Html.Partial("../Shared/navbar");

<script type="text/javascript" src=@Url.Scrpit("/Scripts/plug/jquery-3.1.1.js")></script>
<script src=@Url.Scrpit("/Scripts/plug/swiper-3.4.2.jquery.min.js")></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        speed:500,
        paginationElement:'li',
        paginationBulletRender: function (swiper, index, className) {
            switch (index){
                case 0:
                    name = '秒秒购';
                    break;
                case 1:
                    name =  '时时购';
                    break;
                case 2:
                    name = '月月购';
                    break;
                case 3:
                    name = '礼品兑换';
                    break;
            }
            return '<span class="' + className + '">' + name  + '</span>';
            /*return '<li class="swiper-add-navbar ' + className + ' ">'+
                '<span>' + name  + '</span>'+
                    '<p class="hidden-p"></p>'*/
        }
    });
    /*秒杀背景色添加*/
    $(".time-buy").click(function(){
        $(this).addClass("add-bac-color").siblings().removeClass("add-bac-color");
    });

    $(".swiper-add-navbar").click(function () {
        $(this).children("p").addClass("swiper-p-active");
        $(this).siblings().children("p").removeClass("swiper-p-active");
    });

    /**
    动态设置分类的高度
    **/
    $(function () {
        var dHeight = $(window).height();
        var cateHeight = $('.swiper-pagination').height();
        var bHeight = $('.bottom-navbar').height();
        var heightAll = cateHeight + bHeight + 15;
        $('#tabs-contents').css('height', dHeight - heightAll + 'px');
    })
</script>