
@section head{
    <link rel="stylesheet" href=@Url.Scrpit("/Css/shopCommon.css")>
}

<div class="goodsShopItem">
	<!--<div class="shopItem">
		<h3 class="shop">
			<em>新品</em>
			<span>查看全部</span>
		</h3>
		<ul class="shopList">
			<li>
				<a href="#">10月上新</a>
			</li>
		</ul>
	</div>-->
</div>

<!--底部导航-->
@Html.Partial("../Shared/navbar")
<script type="text/javascript" src=@Url.Scrpit("../../Scripts/page-used-js/GoodShopCategory.js")></script>